# Ignore Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfplan

# Ignore Go build artifacts
blockchain_client/blockchain_client
bin/
pkg/

# Ignore Go module files (if not tracking dependencies)
go.sum

# Ignore IDE-specific files
.idea/
.vscode/
*.swp
*.swo



# Ignore local development files
.env
*.log